/server_side_js/node_modules
/server_side_js/package-lock.json

/server2/node_modules
/server2/package-lock.json

/server3/node_modules
/server3/package-lock.json
/server3/config.env

/server4/node_modules
/server4/package-lock.json
/server4/config.env

/Api_server/node_modules
/Api_server/package-lock.json
/Api_server/config.env